.DS_Store
~*
workspace
workspace/
output/
internel/
.pytest_cache/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/
.venv/
.venv
.obsidian/
.claude/
tests/screen/
*.diff
*.bak
.coverage
htmlcov/
.ruff_cache/
.vscode/*
.playwright-mcp/
uv.lock